---
// src/lib/components/blocks/About.astro
import type { HTMLAttributes } from 'astro/types'

/**
 * About Component
 * @description A section to display information about a topic, with a title and paragraphs.
 */
type Props = HTMLAttributes<'section'> & {
  /**
   * An array of paragraphs for the content.
   */
  text: string[]

  /**
   * The title of the about section.
   */
  title: string
}

const { title, text, ...attrs } = Astro.props
---

<section id="about" class="relative py-24" {...attrs}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="mb-6 text-3xl font-bold tracking-tight text-white sm:text-4xl">
      {title}
    </h2>
    <div class="space-y-4 text-lg leading-8 text-gray-300">
      {text.map((p) => <p>{p}</p>)}
    </div>
  </div>
</section>
