---
// src/lib/components/ui/Button.astro
import type { HTMLAttributes } from 'astro/types';

/**
 *
 */
type Props = HTMLAttributes<'a'> & {
  href: string;
};

const { href, class: className, ...attrs } = Astro.props;

const baseClasses =
  'inline-flex items-center justify-center rounded-md font-semibold transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2';
---

<a href={href} class:list={[baseClasses, className]} {...attrs}>
  <slot />
</a>
