---
// src/lib/layouts/BaseLayout.astro
import '$styles/global.css';
import Footer from '$components/layout/Footer.astro';
import Head from '$components/layout/head/Head.astro';
import Navbar from '$components/layout/Navbar.astro';
import ScrollToTop from '$components/layout/ScrollToTop.astro';
import Analytics from '$components/meta/Analytics.astro';
import Clarity from '$components/meta/Clarity.astro';
import { site } from '$data/site-content';
import { GOOGLE_ANALYTICS_ID, MICROSOFT_CLARITY_ID } from 'astro:env/client';

/**
 * Base layout component for all pages.
 * It includes the head, navbar, footer, and other meta components.
 */
type Props = {
  /**
   * Meta description for SEO.
   * @default `site.description`
   */
  description?: string;
  /**
   * The image to use for social media previews.
   * @default `site.image`
   */
  image?: string;
  /**
   * Whether to enable Pagefind for this page.
   * @default true
   */
  pagefind?: boolean;

  /**
   * The theme of the page.
   * @default 'light'
   */
  theme?: 'light' | 'dark';
  /**
   * The document title for SEO.
   * @default `site.name`
   */
  title?: string;
};

const {
  pagefind = true,
  title = site.name,
  description = site.description,
  image,
  theme = 'light',
} = Astro.props;

const themeClasses = {
  light: 'bg-background text-foreground',
  dark: 'bg-zinc-900 text-white',
};
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <Head title={title} description={description.slice(0, 100)} image={image} />
    {import.meta.env.PROD && GOOGLE_ANALYTICS_ID && <Analytics id={GOOGLE_ANALYTICS_ID} />}
    {import.meta.env.PROD && MICROSOFT_CLARITY_ID && <Clarity id={MICROSOFT_CLARITY_ID} />}
  </head>

  <body class:list={[themeClasses[theme], 'flex min-h-dvh flex-col antialiased']}>
    <Navbar />

    <main class="flex-1" {...pagefind ? { 'data-pagefind-body': '' } : {}}>
      <slot />
    </main>

    <Footer />
    <ScrollToTop />
  </body>
</html>

<script>
  import { animateOnScroll } from '$client/animate-on-scroll';
  animateOnScroll();
</script>
